{% extends "base.html" %}

{% block title %}Actividades{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="display-4">Actividades</h1>
  <p class="lead">Actividades Registrados</p>
  {% if actividades %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for actividad in actividades %}
        <tr>
          <td>{{ actividad.nombre }}</td>
          <td>{{ actividad.descripcion }}</td>
          </tr>
        {% endfor %}
    
    </tbody>
  </table>
  {% else %}
    <p>No hay actividades registradas al momento.</p>
  {% endif %}
</div>
{% endblock %}
