{% extends "base.html" %}

{% block title %}Registro de Empleados{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="display-4">Empleados</h1>
  <p class="lead">Crear Nuevo Empleado</p>
  <form action='{% url 'empleados_registro' %}' method='POST'>{% csrf_token %}
      <div class="col">
          {% for field in form %}
            <div class="row">
              <span>{{ field.label }}</span>
            </div>
            <div class="row">
               {{ field }}
             </div>
          {% endfor %}
        <hr class="my-4">
        <div class="row">
          <input type="submit" value="Registrar" class="btn btn-success"/>
        </div>
      </div>
    </form>
</div>
{% endblock %}
