{% extends "base.html" %}

{% block title %}Empleados{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="display-4">Empleados</h1>
  <p class="lead">Empleados Registrados</p>
  {% if empleados %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Puesto</th>
      </tr>
    </thead>
    <tbody>
      {% for empleado in empleados %}
        <tr>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido_paterno }}</td>
          <td>{{ empleado.apellido_materno }}</td>
          <td>{{ empleado.puesto }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No hay empleados registrados al momento.</p>
  {% endif %}
</div>
{% endblock %}
