{% extends "base.html" %}

{% block title %}
  GP - Inicio
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-10">ParraSoft</h1>
    <hr class="my-8">
    <p>
{% endblock %}
