  
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style='background-color:  #21618c;'>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="navbar-brand" href="{% url 'inicio' %}">ParraSoft</a>
      <a class="nav-item nav-link active" href="{% url 'empleados' %}">Empleados</a>
      <a class="nav-item nav-link active" href="{% url 'actividades' %}">Actividades</a>
      <a class="nav-item nav-link active" href="{% url 'reportes' %}">Reportes</a>
      
      <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Registrar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'empleados_registro' %}">Empleado</a>
                      <a class="dropdown-item" href="{% url 'actividades_registro' %}">Actividad</a>
                      <a class="dropdown-item" href="{% url 'reporte_registro' %}">Reporte</a>


                    </div>
                </li>
    </div>
    </div>
  </div>
</nav>



