{% extends "base.html" %}

{% block title %}Reportes{% endblock %}

{% block content %}
  <div class="container-fluid">
  <h1 class="display-4">Reportes</h1>
  <h3>Reporte General de Ocupación de Empleado</h3>

  {% if desempeno_de_empleados %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Cantidad de Tareas</th>
      </tr>
    </thead>
    <tbody>
      
      {% for desempeno_de_empleado in desempeno_de_empleados %}
        <tr>
          <td>{{ desempeno_de_empleado.empleado.nombre }}</td>
          <td>{{ desempeno_de_empleado.empleado.apellido_paterno }}</td>
          <td>{{ desempeno_de_empleado.empleado.apellido_materno }}</td>
          <td>{{ desempeno_de_empleado.cantidad_de_tareas }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
  {% else %}
    <p>No hay datos de desempeño de empleados registrados al momento.</p>
  {% endif %}
  <hr class="my-8">
  <h3>Reportes de Actividades por Empleado</h3>
  {% if tareas_de_empleados %}
    {% for tareas in tareas_de_empleados %}
      
    <p>--{{ tareas.empleado.nombre }} {{ tareas.empleado.apellido_paterno }} {{ tareas.empleado.apellido_materno }}</p>
      {% if tareas.tareas %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Actividad</th>
            <td>Fecha de Inicio</td>
            <td>Fecha de Finalización</td>
          </tr>
        </thead>
        <tbody>
          {% for tarea in tareas.tareas %}
            <tr>
              <td>{{ tarea.actividad }}</td>
              <td>{{ tarea.fecha_de_inicio }}</td>
              <td>{{ tarea.fecha_de_finalizacion }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>No hay tareas registradas al momento.</p>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No hay datos de tareas para empleados registrados al momento.</p>
  {% endif %}
</div>
{% endblock %}
