{% extends "base.html" %}

{% block title %}Registro de reporte{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="display-4">Tareas</h1>
  <p class="lead">Crear Nueva Tarea</p>
  <form action='{% url 'reporte_registro' %}' method='POST'>{% csrf_token %}
      <div class="col">
          {% for field in form %}
            <div class="row">
              <span>{{ field.label }}</span>
            </div>
            <div class="row">
               {{ field }}
             </div>
          {% endfor %}
        <hr class="my-4">
        <div class="row">
          <input type="submit" value="Registrar" class="btn btn-success"/>
        </div>
      </div>
    </form>
</div>

<script>
$(function() {
  $( "#datepickerOne" ).datepicker();
  $( "#datepickerTwo" ).datepicker();
});
</script>
{% endblock %}
